                                                  ORGANIZING DATA IN APPROPRIATE FORMAT

In [2]:
#storing cutomer details as variables
cid='cid--001'
print("The customer ID of the first customer is:",cid)

The customer ID of the first customer is: cid--001

In [2]:
#creating multiple variables to store unique customerid
cid1='cid--001'
cid2='cid--002'
cid3='cid--003'
cid4='cid--004'
cid5='cid--005'
print(type(cid1))
print(id(cid1))

<class 'str'>
1741038595760

                                                     ORGANIZING AND QUERYING THE DATA

In [3]:
#Generating the customer ID list and printing it out
cid=['cid--001','cid--002','cid--003','cid--004','cid--005']
print("Customer ID:",cid)

Customer ID: ['cid--001', 'cid--002', 'cid--003', 'cid--004', 'cid--005']

In [3]:
#Alternative method to be used when we have larger dataset
cid=[]
for i in range(5):
    a=input("Give me the customer ID:")
    cid.append(a)
print("The customer ID's are:",cid)

Give me the customer ID: cid--001
Give me the customer ID: cid--002
Give me the customer ID: cid--003
Give me the customer ID: cid--004
Give me the customer ID: cid--005

The customer ID's are: ['cid--001', 'cid--002', 'cid--003', 'cid--004', 'cid--005']

In [6]:
#creating list for credit score,age of customers,debt status and number of active credit cards
credit_score = [234,456,321,654,789]
age_of_customer = [23,45,32,56,43]
debt_status = ['no-debt','no-debt','no-debt','in-debt','no-debt']
num_of_existing_cards = [3,2,4,1,5]

In [7]:
#Let's print all the features stored as list
print("Customer ID:",cid)
print("Credit Score",credit_score)
print("Age of the customer:",age_of_customer)
print("Debt status",debt_status)
print("Number of existing Credit cards:",num_of_existing_cards)

Customer ID: ['cid--001', 'cid--002', 'cid--003', 'cid--004', 'cid--005']
Credit Score [234, 456, 321, 654, 789]
Age of the customer: [23, 45, 32, 56, 43]
Debt status ['no-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt']
Number of existing Credit cards: [3, 2, 4, 1, 5]

In [8]:
#Let's try to fetch some data of customer whose id is 'cid-003'
#To fetch the data first we,ve to find the index of the same
pos = cid.index('cid--003')
print(pos)

2

#Now that we know the index,let's call the value stored at the index for all the lists
print(cid[pos])
print(credit_score[pos])
print(age_of_customer[pos])
print(debt_status[pos])
print(num_of_existing_cards[pos])
#We can fetch the data in an organized manner

In [15]:
#Updation--the debt status for cid--001 needs to be changed as the customer in-debt now
#Again let's first find the index of cid--001
pos = cid.index('cid--001')

In [16]:
#Assigning the updated status
debt_status[pos] = 'in-debt'

In [17]:
debt_status  #data updation is done for cid--001

['in-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt']

                                             UPDATING CUSTOMER DATA BASED ON CONDITIONS
                                            --Update the credit score for all the users
                                            --Calculated based on 4 factors
                                               1.Payment History(High Impact)
                                               2.Credit Utilization ratio(High Impact)
                                               3.Age of the credit(Medium Impact)
                                               4.Total Accounts(Low Impact)
    Create a list called per_on_time,which stores the percentage of on-time payments done by the user.If a user's per_on_time is greater than the 0.7,then we've to increase their credit score by 2%

In [18]:
#Assume that below random numbers is the on-time payment percentage
per_on_time = [0.34,0.83,0.75,0.53,0.41]

In [19]:
#Here we use conditional statements for the satisfied condition
if per_on_time[0]>0.7:
    credit_score[0] = round(credit_score[0]*1.02)           #adding 2% will be equal to 1+0.02=1.02
    print("Credit score updated for cid-001")
else:
    print("Credit score is same for cid--001")
if per_on_time[1]>0.7:
    credit_score[1] = round(credit_score[1]*1.02)           
    print("Credit score updated for cid-002")
else:
    print("Credit score is same for cid--002")
if per_on_time[2]>0.7:
    credit_score[2] = round(credit_score[2]*1.02)           
    print("Credit score updated for cid-003")
else:
    print("Credit score is same for cid--003")
if per_on_time[3]>0.7:
    credit_score[3] = round(credit_score[3]*1.02)           
    print("Credit score updated for cid-004")
else:
    print("Credit score is same for cid--004")
if per_on_time[4]>0.7:
    credit_score[4] = round(credit_score[4]*1.02)           
    print("Credit score updated for cid-005")
else:
    print("Credit score is same for cid--005")

Credit score is same for cid--001
Credit score updated for cid-002
Credit score updated for cid-003
Credit score is same for cid--004
Credit score is same for cid--005

In [20]:
credit_score

[234, 465, 327, 654, 789]

In [22]:
#Alternative code if we had more data without time-consuming using loops
#we will use for-loop in this case(Used to check conditions with minimal amount of code)
for i in range(5):
    if per_on_time[i]<0.4:
        credit_score[i] = round(credit_score[i]*.98)   #subtracting 2% will be equal to 1-0.02=0.98
        print("Credit score updated for:",cid[i])
    else:
        print("Credit Score is same for:",cid[i])

Credit score updated for: cid--001
Credit Score is same for: cid--002
Credit Score is same for: cid--003
Credit Score is same for: cid--004
Credit Score is same for: cid--005

In [32]:
#Let's find out how many people have credit score greater than 700?
#Initialize counter to increment the customer count

count=0

for i in range(0,len(cid)):
    if credit_score[i]>500:
        count+=1  #increment count counter by 1 when the score is greater than 700
print("Number of people having credit score greater than 500:",count)

Number of people having credit score greater than 500: 2

In [33]:
#Let's check how many people have more than 2 credit cards
#Initialize counter to increment the customer count
count=0

for i in range(0,len(cid)):
    if num_of_existing_cards[i]>2:
        count+=1
print("Number of people having more than 2 credit cards:",count)

Number of people having more than 2 credit cards: 3

In [34]:
#Let's count how many people are in debt and how many are in no-debt
#Initialize counters to increment in-debt and not in-debt customer counts

indebt=0
nodebt=0

for i in range(0,len(cid)):
    if debt_status[i]== 'in-debt':
        indebt+=1
    else:
        nodebt+=1
print("Number of people with in-debt:",indebt)
print("Number of people with no-debt:",nodebt)

Number of people with in-debt: 2
Number of people with no-debt: 3

In [40]:
#Let's print all the information of customer whose customer id =cid--002
for i in range(0,len(cid)):
    if cid[i]=='cid--002':
        print('-----------------------------------------------------------------')
        print("Customer ID:",cid[i])
        print("Credit Score:",credit_score[i])
        print("Age of customers:",age_of_customer[i])
        print("Debt status:",debt_status[i])
        print("Number of existing credit cards:",num_of_existing_cards[i])

-----------------------------------------------------------------
Customer ID: cid--002
Credit Score: 465
Age of customers: 45
Debt status: no-debt
Number of existing credit cards: 2

                                                 MODULAR WAY OF UPDATING A DATA

In [43]:
#We should try it using a function
def customer_info(c_id):
    for i in range(0,len(cid)):
        if cid[i] == c_id:
            print('--------------------------------------------------------------------')
            print("Customer ID:",cid[i])
            print("Credit Score:",credit_score[i])
            print("Age of customers:",age_of_customer[i])
            print("Debt status:",debt_status[i])
            print("Number of existing credit cards:",num_of_existing_cards[i])

In [44]:
customer_info('cid--001')  #calling the above defined function

--------------------------------------------------------------------
Customer ID: cid--001
Credit Score: 229
Age of customers: 23
Debt status: in-debt
Number of existing credit cards: 3

In [45]:
#Printing the customer whose id is cid-003
customer_info('cid--003')

--------------------------------------------------------------------
Customer ID: cid--003
Credit Score: 327
Age of customers: 32
Debt status: no-debt
Number of existing credit cards: 4

                                        COMBINING ALL THE DATA INTO A SINGLE ELEMENT
                                        #We need to club all the data into a single structure
                                           (Let's try to combine these into dictionary)

In [49]:
#dict is created with key and value pairs
df1 = {
    'cust_id':cid,
    'credit_score':credit_score,
    'age':age_of_customer,
    'debt_status':debt_status,
    'curr_credit_cards':num_of_existing_cards
}

In [50]:
df1   #printing the dictionary

{'cust_id': ['cid--001', 'cid--002', 'cid--003', 'cid--004', 'cid--005'],
 'credit_score': [229, 465, 327, 654, 789],
 'age': [23, 45, 32, 56, 43],
 'debt_status': ['in-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt'],
 'curr_credit_cards': [3, 2, 4, 1, 5]}

In [52]:
#Any value of dictionary can be accessed by calling the key value--dictionary['key']
df1['cust_id']

['cid--001', 'cid--002', 'cid--003', 'cid--004', 'cid--005']

In [53]:
df1['cust_id'][2]

'cid--003'

**Let's get all the information from the customer whose id is 'cid--004'**
We can do this by iterating the index for a fixed list index.We can achieve that with "items()" method.

In [55]:
for key,value in df1.items():
    print(key,value[3])

cust_id cid--004
credit_score 654
age 56
debt_status in-debt
curr_credit_cards 1

                                                GETTING DATA INTO A CONVENIENT STRUCTURE **PANDAS**

In [56]:
#Converting the dictionary into pandas data frame(Import)

!pip install pandas

Requirement already satisfied: pandas in c:\users\srimo\appdata\local\programs\python\python313\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\srimo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\srimo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\srimo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\srimo\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\srimo\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [57]:
import pandas as pd

In [58]:
#Let's create a data frame from the existing dictionary
df=pd.DataFrame(df1)

In [59]:
#Printing the dataframe
print(df)

    cust_id  credit_score  age debt_status  curr_credit_cards
0  cid--001           229   23     in-debt                  3
1  cid--002           465   45     no-debt                  2
2  cid--003           327   32     no-debt                  4
3  cid--004           654   56     in-debt                  1
4  cid--005           789   43     no-debt                  5

                                                        ACCESSING AND ANALYZING THE DATA

In [60]:
#let's print the top 3 data entries
df.head(3)

    cust_id  credit_score  age debt_status  curr_credit_cards
0  cid--001           229   23     in-debt                  3
1  cid--002           465   45     no-debt                  2
2  cid--003           327   32     no-debt                  4

In [61]:
df.tail(3)

    cust_id  credit_score  age debt_status  curr_credit_cards
2  cid--003           327   32     no-debt                  4
3  cid--004           654   56     in-debt                  1
4  cid--005           789   43     no-debt                  5

In [62]:
df.describe()

       credit_score       age  curr_credit_cards
count      5.000000   5.00000           5.000000
mean     492.800000  39.80000           3.000000
std      229.985217  12.67675           1.581139
min      229.000000  23.00000           1.000000
25%      327.000000  32.00000           2.000000
50%      465.000000  43.00000           3.000000
75%      654.000000  45.00000           4.000000
max      789.000000  56.00000           5.000000

In [63]:
df.shape

(5, 5)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   cust_id            5 non-null      object
 1   credit_score       5 non-null      int64
 2   age                5 non-null      int64
 3   debt_status        5 non-null      object
 4   curr_credit_cards  5 non-null      int64
dtypes: int64(3), object(2)
memory usage: 332.0+ bytes